/*DOCTOR TO PATIENT VIEW ALSO USES THIS CSS*/


body
{
	background-color: #f3f5f9;
}

.wrapper
{
	margin-bottom: 2em;
}

/*BUTTONS CSS*/

.header
{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
  margin-top: 10vh

}

.header button 
{
  margin-right: 30px;
}


/*DOCTORS VIEW TO PATIENT CSS*/


  /*DOCUMENT AREAS CSS*/

.docs-container
{
  margin-top: 20px;
  padding: 80px;
}