body{
   background-color: #f3f5f9;
}

/*NAVBAR CSS*/

.nav{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80px;
}

.nav button{
  margin-right: 10px;
  background-color: #f3f5f9;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 50px;
}



/*PROFILE BUBBLE CSS*/

.container-profile
{
  padding: 50px;
  background-color: #fff;
  border-radius: 80px;
  margin-top: 20px;
  width: 40%;
  margin-left: 8%;
  height: 180px;
  display: flex;

}

.patient-profile
{
  display: flex;
  flex-direction: column;
}

.profile
{
  display: flex;
}

.container-profile p
{
  padding: 0px 0px 0px 10px;

}

.container-profile img
{
  height: 90px;
  width: 90px;
  border-radius: 80px;

}

.container-profile h5
{
  padding-left: 20px;
}


/*EDIT PROFILE BUTTON CSS*/

.edit-profile{
  margin-left: 80em;
  margin-top: ;
}


/*ABOUT CSS*/

.container-about
{

  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 70px;
  margin-left: 8%;
  width: 85%;
  height: 50vh;
  display: block;

}





.container-about label:nth-child(1){
  margin-top: 100px;

}

.container-about a{
  margin-top: 5em;
  margin-left: 10em;
  position: relative;
}





/*MENU BUTTONS CSS*/
.container-menu
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.menu
{
  background-color: #fff;
  width: 130px;
  height: 130px;
  padding: 28px;
  margin: 5em 0px 0px 7em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu:hover
{
  background-color: gray;
}

/*DOCS DOCTORS LIST CSS*/

.folder-container{
  display: inline-block;
  margin: 80px
}

.folder-container a{
  margin: 10px;
  width: 83vw;

}

.medRec-container{
  display: inline-block;
  margin: 80px;
  margin-top: 180px;
}

.medRec-container a{
  margin: 10px;
  width: 83vw;

}

/*DOCUMENTS WATCHER FILE CONTAINER*/

.file-container{
  
  height: 10px;
  width: 30%;
  margin-left: 33vw;
  margin-top: 50px;
}
.file-container a{

  color: black;
}

.docu:hover{
   background-color: gray;

}

.records-header{
  margin: 5em 35em;
}