body{
   background-color: #f3f5f9;
}

/*NAVBAR CSS*/

.nav{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80px;
}

.nav button{
  margin-right: 10px;
  background-color: #f3f5f9;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 50px;
}



/*PROFILE BUBBLE CSS*/

.container-profile
{
  padding: 50px;
  background-color: #fff;
  border-radius: 80px;
  margin-top: 20px;
  width: 40%;
  margin-left: 8%;
  height: 180px;
  display: flex;

}

.patient-profile
{
  display: flex;
  flex-direction: column;
}

.profile
{
  display: flex;
}

.container-profile p
{
  position: absolute;
  font-size: 10px;
  margin: 39px 0px 0px 0px;
  z-index: 1;
  outline: white;

}

.container-profile img
{
  height: 90px;
  width: 90px;
  border-radius: 80px;

}

.container-profile h5
{
  padding-left: 20px;
}


/*EDIT PROFILE BUTTON CSS*/

.edit-profile{
  margin-left: 80em;
  margin-top: ;
}


/*ABOUT CSS*/

.container-about
{

  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 70px;
  margin-left: 8%;
  width: 85%;
  height: 50vh;
  display: flex;

}

#docsCenter{
  left: 30%;
  top: 50%;
  position: relative;
}

.wrapper-about{
  display: block;
  position: relative;
  width: 50%;
  padding: 10px;
}

.first-layer{
  height: 10%;
  width: 100%;
  padding-left: 80px;

  display: flex;
  gap: 100px;
}
.second-layer{
  height: 10%;
  width: 100%;
  padding: 50px 80px;

  display: flex;
  gap: 100px;


}
.contact-info{
  width: 50%;
  position: relative;
}

.appoint-button{
  position: relative;
  top: 100px;
  left: 150px;
}


/*MENU BUTTONS CSS*/
.container-menu
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.menu
{
  background-color: #fff;
  width: 130px;
  height: 130px;
  padding: 28px;
  margin: 5em 0px 0px 7em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu:hover
{
  background-color: gray;
}

/*DOCS DOCTORS LIST CSS*/

.folder-container{
  display: inline-block;
  margin: 80px
}

.folder-container a{
  margin: 10px;
  width: 83vw;

}

.medRec-container{
  display: inline-block;
  margin: 80px;
  margin-top: 180px;
}

.medRec-container a{
  margin: 10px;
  width: 83vw;

}

/*DOCUMENTS WATCHER FILE CONTAINER*/

.file-container{
  
  height: 10px;
  width: 30%;
  top: 30%;
  left: 35%;
  position: absolute;
  display: flex;
}
.file-container a{

  color: black;
  width: 100%;
}

.docu:hover{
   background-color: gray;

}

.records-header{
  margin: 5em 35em;
  display: grid;

}

.records-header form{
  padding: 10px;
}

.records-header form:nth-child(3){

  left: 37%;
  position: relative;

}


.confirm
 {
   position: fixed;
   top: 40%;
   left:50%;
   transform: translate(-50%, -50%);
   width: 600px;
   padding:50px;
   box-shadow: 0 5px 30px rgba(0,0,0,0.30);
   background: #fff;
   visibility: hidden;
   opacity: 0;
   transition: 0.5s ease-out;
   z-index: 1;
   width: 100%;
   height: 100%;
  
 }
 
 
 .confirm.active
 {
   top: 50%;
   visibility: visible;
   opacity: 1;
   transition: 0.5s ease-out;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
 }

 .confirmation{
    background-color: #fff;
    width: 50%;
    left: 28%;
    position: absolute;
    padding: 20px;
    border-radius: 15px;
    top: 30%;
 }

 .confirmation div{
    display: flex;
    padding: 10px;
 }

  .confirmation div form{
    margin-left: 5px;
 }


   .changeAvatar.active
 {
   top: 50%;
   visibility: visible;
   opacity: 1;
   transition: 0.5s ease-out;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
 }
 

 .changeAvatar
 {
   position: fixed;
   top: 40%;
   left:50%;
   transform: translate(-50%, -50%);
   width: 600px;
   padding:50px;
   box-shadow: 0 5px 30px rgba(0,0,0,0.30);
   background: #fff;
   visibility: hidden;
   opacity: 0;
   transition: 0.5s ease-out;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .avatar-wrapper label{
  cursor: pointer;

  font-size: 50px;
  border: 1px dashed;
 }

  .avatar-wrapper button{

  position: absolute;
  top: 75%;
  left: 20%;

 }

#uploadIcon{
  opacity: 0;
   position: absolute;
   z-index: -1;
}

#avatar{
  z-index: 2;
  transition: 500ms ease-out;


}


#avatar:hover{
  z-index: 0;
  transition: 500ms ease-out;


}